# VSCode
.vscode/

# IntelliJ
.idea/
rml.iml

# Maven
target/maven-status/
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

# Maven Plugins
target/maven-javadoc-plugin-stale-data.txt
target/reports
target/reports/apidocs